language: node_js
node_js:
- '0.12'
- iojs
sudo: false
cache:
  directories:
  - node_modules
addons:
  postgresql: "9.4"
before_script:
 - psql -c 'create database webmaker_testing' -U postgres
env: POSTGRE_CONNECTION_STRING='postgres://postgres@localhost:5432/webmaker_testing'
