export API_HOST=0.0.0.0
export PORT=2015
export POSTGRE_CONNECTION_STRING=postgresql://localhost:5432/webmaker
export API_VERSION=dev
export ID_SERVER_CONNECTION_STRING=https://id.mofostaging.net

## log level - given a chosen level, log events only at or above that level
## debug < info < warn < error < exception < stat
export LOG_LEVEL=debug
