export API_HOST=0.0.0.0
export PORT=2015
export POSTGRE_CONNECTION_STRING=postgresql://localhost:5432/webmaker
export API_VERSION=dev
export ID_SERVER_CONNECTION_STRING=https://id.mofostaging.net

## log level - given a chosen level, log events only at or above that level
## debug < info < warn < error < exception < stat
export LOG_LEVEL=debug

## URI ca be set to make the docs page show the externally facing URI instead
## of using the API_HOST and PORT values
export URI=https://api.webmaker.org

## NewRelic Configuration
## See https://docs.newrelic.com/docs/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration
NEW_RELIC_ENABLED=false
NEW_RELIC_NO_CONFIG_FILE=true
NEW_RELIC_HOME='./node_modules/newrelic'
NEW_RELIC_LICENSE_KEY=newrelic license key
NEW_RELIC_APP_NAME=api.webmaker.org
NEW_RELIC_LOG_LEVEL=info
