export API_HOST=localhost
export PORT=2015
export POSTGRE_CONNECTION_STRING=postgresql://localhost:5432/webmaker
export API_VERSION=dev
export PG_NATIVE=true

## log level - given a chosen level, log events only at or above that level
## debug < info < warn < error < exception < stat
export LOG_LEVEL=info
